In [ ]:
from sqlalchemy import create_engine, text

engine = create_engine('mysql+pymysql://agfirass:001291100@localhost/open_data_paris')

commands = [
    "ALTER TABLE arrondissement MODIFY c_ar INT NOT NULL PRIMARY KEY;",

    "ALTER TABLE budgets MODIFY arrondissement INT;",

    """
    ALTER TABLE budgets
    ADD CONSTRAINT fk_arrondissement
    FOREIGN KEY (arrondissement) REFERENCES arrondissement(c_ar)
    ON DELETE CASCADE
    ON UPDATE CASCADE;
    """
]

with engine.connect() as conn:
    for cmd in commands:
        conn.execute(text(cmd))

print("One-to-many relationship established successfully!")